extend ../layout/main 
block content
    h1 Login
    if errors   
        each error in errors
            .alert.alert-danger= error
    form(method="POST", class="form-group")
        label Email
        input(type="email", name="email", placeholder="Enter your email...",class="form-control", value= value ? value.name : '')
        label Password
        input(type="password",name="password",class="form-control")
        button(class="btn btn-primary mt-4") Login