h1 User List
form(action="/user/search",method="GET")
    input(type="text",name="q", value=""+key)
    button Search
a(href="/user/create")
    button New
ul
    each user in users
        li
            span= user.name
            a(href="/user/view/"+ user.id)
                button(style="margin-left: 10px; font-size: 10px") view